## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build
bin/
obj/
Debug/
Release/

## ClickOnce / Publish
publish/
*.application
*.manifest

## Certificates
*.pfx
*.snk

## Logs
*.log

## NuGet
packages/
*.nupkg

## Windows
Thumbs.db
desktop.ini

## IDEs
.idea/
.vscode/

## SQL Server
*.mdf
*.ldf